body {
  font-family: "Roboto";
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 1em;
  font-size: 0.9em;
}

header, .footer {
  font-size: 0.9em;
}

h1, h2 {
  margin-left: 13vw;
}

h1 {
  font-size: 4em;
  padding: 0.5em 0;
}

h2 {
  font-size: 2em;
}

header {
  height: 100vh;
  display: grid;
  grid-template-columns: 6.5vw 1fr 1fr 6.5vw;
  grid-template-rows: 2em 2em 1fr 1fr 1fr 1fr 2em 2em;
}
header nav {
  grid-column: 2/span 2;
  grid-row: 2;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav div {
  display: flex;
  align-items: center;
}
header nav button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
}
header nav a:not(.not):after {
  content: " ";
  height: 1px;
  width: 0%;
  background-color: white;
  display: block;
  transition: width 0.3s;
  position: relative;
  right: 0;
}
header nav a:not(.not):hover::after {
  animation: link 0.3s linear;
  animation-fill-mode: forwards;
}
header .footer {
  grid-column: 2/span 2;
  grid-row: 7/span 1;
  position: relative;
  z-index: 100;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
header .footer div {
  display: flex;
  align-items: center;
}

.swiper-container {
  width: 100%;
  height: 100%;
  grid-column: 1/span 4;
  grid-row: 1/span 8;
  z-index: -2;
}

.swiper-slide.swiper-slide-active {
  animation: bg1 5s;
  animation-fill-mode: forwards;
}
.swiper-slide.swiper-slide-active:before {
  animation: bg2 5s;
  animation-fill-mode: forwards;
}

.swiper-button-prev:hover:after, .swiper-button-next:hover:after {
  transform: scale(0.9);
}

.swiper-button-prev:after {
  margin-left: 1em;
  padding: 0.5em 0.5em 0.45em 0.4em;
  transform: scale(0.7);
}

.swiper-button-next:after {
  margin-right: 1em;
  padding: 0.5em 0.4em 0.45em 0.5em;
  transform: scale(0.7);
}

.swiper-button-prev:after, .swiper-button-next:after {
  color: white;
  border: 1px solid white;
  border-radius: 1em;
  opacity: 0.7;
  transition: 0.3s;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.swiper-slide h1 {
  position: relative;
  z-index: 10;
  margin-bottom: 1em;
}
.swiper-slide h2 {
  order: -1;
  position: relative;
  z-index: 10;
  font-size: 0.8em;
  letter-spacing: 0.2em;
}
.swiper-slide p, .swiper-slide a {
  position: relative;
  z-index: 10;
  margin-left: 13vw;
}
.swiper-slide p {
  transform: translateY(-3em);
}
.swiper-slide a {
  margin-top: 2em;
  font-size: 0.7em;
  background-color: transparent;
  width: 9em;
  padding: 1em 3em;
  border-radius: 2em;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper-slide a span {
  display: block;
  height: 1px;
  width: 2.5em;
  background-color: white;
  transition: 0.1s;
}
.swiper-slide a:hover > span {
  transform: scaleX(0.8);
}
.swiper-slide:first-of-type {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 32.5vw, rgba(17, 17, 17, 0.4) 33.2vw), url(bg1.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
}
.swiper-slide:first-of-type:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  height: 100vh;
  width: 33vw;
}
.swiper-slide:nth-child(2) {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 32.5vw, rgba(17, 17, 17, 0.4) 33.2vw), url(bg2.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
}
.swiper-slide:nth-child(2):before {
  content: "";
  display: block;
  position: absolute;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  height: 100vh;
  width: 33vw;
}
.swiper-slide:nth-child(3) {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 32.5vw, rgba(17, 17, 17, 0.4) 33.2vw), url(bg3.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
}
.swiper-slide:nth-child(3):before {
  content: "";
  display: block;
  position: absolute;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  height: 100vh;
  width: 33vw;
}

@keyframes bg1 {
  from {
    background-position: 67vw 0, center;
  }
  to {
    background-position: 0vw 0, center;
  }
}
@keyframes bg2 {
  from {
    width: 100vw;
  }
  to {
    width: 33vw;
  }
}
@keyframes link {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}